<div class="contenedorHome">

    <h1 class="text-light">Create new player</h1>
    <input class="form-control me-2 cuadroTexto" type="text" placeholder="Name*" aria-label="Name" (keyup.enter)="crearUsuario(miembro.value)" #miembro>
    <!--#miembro es como el identificador para encontrar esto-->

    <a class="alert alert-danger" role="alert" *ngIf="usuarioExiste == true">{{mensajeUsuarioExiste}}</a>
    <a class="alert alert-danger" role="alert" *ngIf="campoVacio == true">{{
        mensajeVacio
      }}</a>
    <button type="button" class="btn btn-primary boton" (click)="crearUsuario(miembro.value)" type=" submit ">Join</button>
</div>