/* You can add global styles to this file, and also import other style files */

.fondo {
    position: absolute;
    /*para que se quede debajo siempre y no se posicione respecto a ningún otro elemento*/
    background-image: linear-gradient(to top, #fbc2eb 50%, #a6c1ee 100%);
    width: 100%;
    height: 100%;
}

.contenedorHome {
    margin: 2em
}

.cuadroTexto {
    margin-bottom: 1em;
}

.boton {
    margin: 10px;
}